.hand-layout {
    display: flex;
    align-content: end;
    overflow: hidden;
    height: 100%;
    z-index: 10;

    & li {
        height: 80%;
        margin-top: 30%;
        transition: .3s;
        &:hover {
            height: 100%;
            margin-top: 0;
        }
    }
    
}